<br/>
<div class="alert alert-warning" role="alert">
  <h3>
    <%= "#{session[:curso_nome]} - Cadastrar aluno" %>
  </h3>
  <%= "#{session[:universidade_nome]} - #{session[:universidade_uf]}" %>
</div>


<%= render 'form' %>

<%= link_to "Voltar", alunos_path, class:"btn btn-warning"%>
